@font-face {
  font-family: HelBold;
  src: url(fonts/HelveticaNeueLTPro-Bd.otf);
}

@font-face {
  font-family: HelMedium;
  src: url(fonts/HelveticaNeueLTPro-Md.otf);
}

@font-face {
  font-family: HelRoman;
  src: url(fonts/HelveticaNeueLTPro-Roman.otf);
}

.font-serif {
  font-family: "Cambria" !important;
}

.font-helroman {
  font-family: 'HelRoman' !important;
}

.font-helmedium {
  font-family: 'HelMedium' !important;
}

.font-helbold {
  font-family: 'HelBold' !important;
}

.ofh {
  overflow: hidden;
}

.text-shadow {
  text-shadow: 0px 2px 3px darkgrey;
}

.text-shadow-s {
  text-shadow: 0px 1px 2px darkgrey;
}

p {
  text-indent: 2em;
  padding-bottom: .5rem;
}

.excerpt {
  -moz-column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-count: 2;
  -webkit-column-gap: 50px;
  column-count: 2;
  column-gap: 50px;
}

iframe {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .excerpt {
    column-count: 1;
  }

  iframe {
    width: auto;
    height: auto;
  }
}
